:host {
  position: relative;
  width: 100%;
}

.mu-table-cont {
  width: 100%;
  border: 1px solid #d2d2d2;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.headers-cont {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
}

.table-row-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #d2d2d2;
  padding: 0 10px;
}

.row-data {
  word-break: break-word;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
}

.header {
  word-break: break-word;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 75px;
}

.table-button {
  color: white !important;
  width: 100%;
  height: 2rem;
  padding: 0 20px;
  border: none;
  box-shadow: 1px 1px 1px 1px #dadada;
}

.click-item {
  cursor: pointer;
}

.row-active {
  background: #d2d2d2;
}

:host::ng-deep .mat-checkbox-inner-container {
  width: 20px;
  height: 20px;
}

.radio-btn {
  width: 0px;
}

.more-icon {
  cursor: pointer;
  font-size: 1.5rem;
}

::ng-deep.mat-menu-panel {
  position: absolute;
  top: -25px;
  right: 0px;
}

.paginator {
  display: flex;
  /* border-bottom: 1px solid #d2d2d2; */
  justify-content: space-around;
}

.pagenumber {
  padding: 10px;
  cursor: pointer;
  width: 2.5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sel-ind {
  background: lightblue;
}

.table-row {
  display: flex;
}

.loader {
  background: #e0e0e0;
  color: black;
  width: 90%;
  height: 100%;
  z-index: 2;
  position: absolute;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-extras {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d2d2d2;
}

input {
  width: 100%;
  height: 70%;
  background: #eaeaea !important;
  padding: 5px;
  border: none;
  margin: 5px;
}

.row-data input {
  background: white !important;
}

.no-data {
  word-break: break-word;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-top: 1px solid #d2d2d2;
}