.mu-loading-root {
  height: 100%;
  width: 100%;
  position: absolute;
  text-align: center;
  left: 0;
  top: 0;
}

.input-cont-comp {

  .mat-button-toggle-label-content {
    line-height: 36px !important;
    padding: 0 12px !important;
  }

  .mat-checkbox-inner-container {
    height: 28px;
    width: 28px;
  }
}