.onb-input-box-cont {
  position: relative;
  display: flex;
  align-items: center;
  border-width: 2px;
  border-style: solid;
  margin: 2% 0;
}

.range-onb-input-box-cont {
  position: relative;
  display: flex;
  align-items: center;
  border-width: 2px;
  border-style: solid;
  margin: 2% 0;
  width: 46%
}

.range-onb-input-box-cont {
  .input-cont {
    position: relative;
    width: 100%;
    padding: 3vw;
    border: 0;
    background: none;
  }
}

.input-cont {
  position: relative;
  width: 100%;
  padding: 3vw;
  border: 0;
  background: none;
}

.input-cont-comp {
  position: relative;
  margin: 4vw;
}

.range {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.errors-list {
  height: 11px;
  display: flex;
  flex-direction: column;
}

.web-input-cont-comp {
  margin: 2% 4%;

  .range-onb-input-box-cont {
    .input-cont {
      position: relative;
      width: calc(100% - 30px);
      padding: 15px;
      border: 0;
      background: none;
    }
  }
  
  .input-cont {
    position: relative;
    width: calc(100% - 30px);
    padding: 15px;
    border: 0;
    background: none;
  }
}
.webView-input-comp {
  .onb-input-box-cont {
    position: relative;
    display: flex;
    align-items: center;
    border-width: 2px;
    border-style: solid;
    margin: 2% 0;
  }
  
  .range-onb-input-box-cont {
    position: relative;
    display: flex;
    align-items: center;
    border-width: 2px;
    border-style: solid;
    margin: 0.5% 0;
    width: 48%;
  }

  .input-cont {
    position: relative;
    width: 100%;
    padding: 0.5vw;
    border: 0;
    background: none;
  }
}