.date-range-filter, .date-filter, .dropdown-filter, .number-range-filter, .number-filter, .text-filter {
  display: flex;
  flex-direction: column;
}

.filter-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2% 4% 0 4%;
}

.range-form {
  width: 45%;
}

.single-form {
  width: 100%
}

.filter-subtitle {
  padding: 2% 4%;
}

.filter-type-title {
  padding: 3% 4% 0 4%;
  width: 40%;
}

.error-cont {
  padding: 0% 4% 0 4%;
}

.filter-content-body {
  .dropdown-filter {
    .filter-inputs {
      border-width: 2px;
      border-style: solid;
      margin: 2% 4% 0 4%;
      padding: 2% !important;
      width: 87%;
    }
  }
}

.inputs-and-error {
  display: flex;
  flex-direction: column;
}

.web-content-div {
  
  .date-range-filter, .date-filter, .dropdown-filter, .number-range-filter, .number-filter, .text-filter {
    display: flex;
    flex-direction: row;
  }

  .filter-inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 25px 0 10px;
    width: 65%;
  }

  .inputs-and-error {
    .filter-inputs {
      width: 91%;
    }
  }

  .filter-subtitle {
    padding: 10px 25px;
  }

  .filter-type-title {
    padding: 12px 0 0 25px;
    width: 26%;
  }

  .web-footer-btn {
    position    : relative;
    width       : 400px;
    margin      : auto;
  }

  .filter-content-body {
    .dropdown-filter {
      .filter-inputs {
        border-width: 2px;
        border-style: solid;
        margin: 12px 25px 0 10px;
        padding: 2% !important;
        width: 60%;
      }
    }
  }

  .error-cont {
    padding: 0 25px 0 10px;
  }

  .inputs-and-error {
    display: flex;
    flex-direction: column;
    width: 70%;
  }
}