.component-container {
  perspective-origin: 0% 100%; 
  perspective: 600px;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.rounded-borders {
  border-radius: 6px;
  border-style: solid;
  border-color: transparent;
  border-width: 0px;
}