.filter-comp {
  display         : flex;
  flex-direction  : column;
  height          : 100%;
  width           : 100%;
}

.filter-input-body {
  max-height  : 70%;
  overflow-y  : auto;
}

.filter-input-body::-webkit-scrollbar {
  width : 5px;
}

.filter-subtitle {
  padding : 2% 4%;
}

.footer {
  display         : flex;
  justify-content : space-between;
  position        : absolute;
  bottom          : 0;
  left            : 0;
  width           : 92%;
  padding         : 2% 4%;

  .button-primary {
    margin: 0 !important;
  }
}

.btn {
  width : 46%;
}

.web-filter-comp {
  display         : flex;
  flex-direction  : column;
  overflow-y      : auto;

  .filter-subtitle {
    padding : 10px 4%;
  }

  .footer {
    position        : relative;
    margin          : auto;
    display         : flex;
    justify-content : space-between;
    padding         : 2% 1%;
    width           : 98%;

    .button-primary {
      margin: 0 auto !important;
    }
  }

  .btn {
    width : 43%;
  }
}

.webView-filter-comp{
  display         : flex;
  flex-direction  : column;
  overflow-y      : auto;
  height          : auto !important;
  max-height      : 80% ; 

  .filter-subtitle{
    padding : 0.25% 1%;
    height  : 10%;
    max-height: 10%;
  }
  .footer {
    position        : relative;
    //margin        : auto;
    display         : block;
    padding         : 1%;
    width           : 100%;
    height          : 20%;

    .button-primary {
      margin : 0.15% 1% !important;
      float  : right;
      height : 90%;
      padding: 1%;
    }
  }
  .filter-input-body {
    height      : auto;
    max-height  : 80%;
    overflow-y  : auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .filter-input-body::-webkit-scrollbar {
    width : 2px;
  }

  .btn {
    width : auto;
  }
  .filter-content-body{
    margin: 1% 4%;
    width: 25%;
  }

}