.mu-loading-root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-text {
  padding: 2vw;
}

.loading-cont {
  display: flex;
  flex-direction: column;
}

.web-mu-content-div {
  height: 100% !important;
  width: 100% !important; 

  .loading-text {
    padding: 10px;
  }
}