.spinner-cont {
  position: relative;
  margin-top: 60%;
}

.spinner-cont-top {
  position: relative;
  margin-top: 20%;
}

.spinner {
  margin: 0% auto;
  height: 5vh;
  width: 5vh;
}

.loading-text {
  text-align: center;
  margin-top: 5%;
}