.spinner-cont {
  position: relative;
  margin-top: 60%;
}

.spinner-cont-top {
  position: relative;
  margin-top: 20%;
}

.spinner {
  margin: 0% auto;
}

.loading-text {
  text-align: center;
  margin-top: 5%;
}

.web-content-div {

  height: 90vh !important;
  max-height: 90vh !important;

  .spinner-cont {
    margin-top: 30% !important;  
  }

}